* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only dark;
  color: hsl(0 0 90);
  background-color: hsl(0 0 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1;
}

/* div#root {
  height: 100vh;
  width: 100vw;;

  display: flex;
  flex-direction: column;
  align-items: center;
} */

div.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

div.container div.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
div.container div.modal-background input {
  font-size: 32px;
  width: 800px;
  height: 100px;
  padding: 24px;
  resize: none;
  border-radius: 24px;
  border: none;;
  outline: none;
  background-color: hsl(0 0 0);
}

div.app-boundary {
  background-color: hsl(0 0 10);
  max-width: 1280px;
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 12px;

  margin: 48px 0;
  padding: 24px;
  border-radius: 24px;

  font-size: 16px;
}
div.app-boundary.blur {
  -webkit-filter: blur(8px);
}

div.divider {
  height: 1px;
  background-color: hsl(0 0 30);
}
div.divider.vertical {
  height: 100%;
  width: 1px;
}

button {
  border: none;
  background-color: hsl(0 0 30);
  align-self: stretch;
  padding: 0 12px;
  border-radius: 8px;
}
button:hover {
  background-color: hsl(0 0 25);
}
button:active {
  background-color: hsl(0 0 0);
}


div.clock {
  height: 48px;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: end;
}
div.clock div:first-child {
  font-size: 24px;
}
div.clock div:last-child {
  font-size: 30px;
}

div.quote-template {
  min-height: 100px;
  padding: 12px;
  line-height: 1.5;
}
div.quote-template h2 {
  font-weight: 500;
  font-size: 20px;
}
div.quote-template p {
  font-weight: 600;
  font-size: 20px;
  text-align: right;
}

input.search {
  height: 48px;
  padding: 8px;
  font-size: 16px;

  background-color: inherit;
  border: 1px solid hsl(0 0 30);
  border-radius: 8px;
}

div.todo-section {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 24px;
  position: relative;
}
div.todo-section div.todo-many {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

}
div.todo-section div.divider.vertical {
  position: absolute;
  left: 50%;
}


div.todo {
  padding: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid hsl(0 0 30);
  border-radius: 8px;
}
div.todo.updating {
  background-color: hsl(0 0 30);
}

div.todo p {
  flex-grow: 1;
}

div.todo input[type="checkbox"] {
  width: 36px;
  height: 36px;
  border-radius: 24px;
}

div.todo-input-section {
  
  display: flex;
  gap: 12px;
}
div.todo-input-section input {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;

  background-color: inherit;
  border: 1px solid hsl(0 0 30);
  border-radius: 8px;
}

div.todo-input-section button {
  padding: 12px;
  border-radius: 8px;
}